
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Create Admin Pannel</title>
</head>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="css/colorpicker.css" />
<link rel="stylesheet" href="css/datepicker.css" />
<link rel="stylesheet" href="css/uniform.css" />
<link rel="stylesheet" href="css/select2.css" />
<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
<link href="font-awesForm Elemenome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<body>
<form name="" action="" method="post">
<div class="container">
<div class="row-fluid">
<div class="span10">
		<div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h3 style="text-align:center;">Create Users Loging</h3>
        </div>
        <div class="widget-content nopadding">
          <form action="#" method="get" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">User Name :</label>
              <div class="controls">
                <input type="text" name="username" class="span11" placeholder="User Name" />
              </div>
            </div>
			
			
            <div class="control-group">
              <label class="control-label">User E-mail :</label>
              <div class="controls">
                <input type="text" class="span11" name="useremail" placeholder="User E-mail" />
              </div>
            </div>
			<div class="control-group">
              <label class="control-label">User Password :</label>
              <div class="controls">
                <input type="text" class="span11" name="userpassword" placeholder="User Password" />
              </div>
            </div>
             <div class="control-group">
              
              <div class="controls">
              	
              </div>
            </div>
			
            <div class="form-actions">
              <button type="submit" class="btn btn-success" name="save">Save</button>
			   <button type="submit" class="btn btn-success" name="View">View</button>
			   <button type="submit" class="btn btn-danger" name="edit">Edit</button>
            </div>
          </form>
        </div>
      </div>
  </div>
  </div> 
</div>
</form>
</body>
</html>
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-colorpicker.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/jquery.toggle.buttons.js"></script> 
<script src="js/masked.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.form_common.js"></script> 
<script src="js/wysihtml5-0.3.0.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/bootstrap-wysihtml5.js"></script> 
<script>
	$('.textarea_editor').wysihtml5();
</script>